:root {
  --sw-background-color: #000000;
  --sw-light-background-color: #242424;
  --sw-font-color: #ffffff;
  --sw-light-font-color: #cccccc;
  --sw-font-color-error: #a94442;
  --sw-font-family: Consolas, monaco, monospace;
  --sw-font-size: 62.5%; // such that 1rem == 10px
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--sw-background-color);
  color: var(--sw-font-color);
}

html {
  font-size: var(--sw-font-size);
}

* {
  box-sizing: border-box;
  font-family: var(--sw-font-family);
}

body.loading {
  background-image: url(../../images/loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


simple-layout {
  display: block;
  min-height: 100vh;

  & > div {
    height: 100%;
    width: 100%;
  }

  sw-infos-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
  }

  .footer {
    position: absolute;
    bottom: 20px;
    right: 60px;
    width: 40px;
    height: 30px;
    z-index: 1002;
  }

  sw-credits {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
  }


}

// default styles for controller layout
controller-layout {
  display: block;
  min-height: 100vh;

  & > div {
    padding: 20px;
  }

  header {
    display: block;
    height: 38px;
    line-height: 38px;
    background-color: var(--sw-medium-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--sw-lighter-background-color);
  }

  header h1 {
    font-size: 12px;
    margin: 0;
    padding-left: 20px;
  }
}

header {
  min-height: 30px;
  display: block;
  background-color: #232323;
  border-bottom: 1px solid #454545;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  & > div {
    display: flex;
    flex-wrap: wrap;
  }

  .midi-controls > div {
    display: flex;
    margin-right: 3px;

    &:last-child {
      margin-right: 0;
    }

    sc-text {
      width: 70px;
      font-size: 10px;
    }

    sc-select {
      font-size: 10px;
      width: 100px;
    }

    sc-number {
      font-size: 10px;
      width: 70px;
    }
  }
}

